<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#defaultNavbar" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']">CRUD-Example</a>

  <div class="collapse navbar-collapse" id="defaultNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/driver']">Drivers Module</a>
      </li>
      <li class="nav-item float-right">
        <a class="nav-link" *ngIf="authService.isLogged()" [routerLink]="['/login']">Logout</a>
      </li>
      <li class="nav-item float-right">
        <a class="nav-link" *ngIf="!authService.isLogged()" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>